[Unit]
Description=cexfy service
After=network.target

[Service]
WorkingDirectory=/opt/cexfy
ExecStart=/opt/cexfy/venv/bin/gunicorn --bind 127.0.0.1:9100 --workers 3 --timeout 60 --forwarded-allow-ips=127.0.0.1 app:app
ExecReload=/bin/kill -s HUP $MAINPID
Environment="CEXFY_DOMAIN=panel.example.com"
Restart=always
User=cexfy

[Install]
WantedBy=multi-user.target
