[Unit]
Description=Restore custom nginx configs for cexfy after Hiddify update
After=hiddify-nginx.service
PartOf=hiddify-nginx.service

[Service]
Type=oneshot
ExecStart=/opt/cexfy/restore-nginx.sh

[Install]
WantedBy=multi-user.target
WantedBy=hiddify-nginx.service
